@font-face {
    font-family: 'Onest';
    src: url(/Fonts/Onest-Regular.woff2) format('woff2');
    font-weight: 400;  
    font-style: normal; 
    font-display: swap;
}

body {
    font-family: 'Onest', Arial;
}

img {
    border-radius: 16px;
}

.price {
    border: 3px solid #59A731;
    border-radius: 15px;
}

.Category-name {
    border: 3px solid #59A731;
    border-radius: 16px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B0FF12;
    border-radius: 16px;
}

.Games-container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 27px;
    justify-content: flex-start;
}

.boardG-container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 27px;
    justify-content: flex-start;
}

.Clothes-container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 27px;
    justify-content: flex-start;
}

.Devices-container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 27px;
    justify-content: flex-start;
}

.Categories {
    display: flex;
    column-gap: 12px;
}

.Copyright {
    display: flex;
    background-color: #EBEFF5;
    border-radius: 16px;
    padding-top: 14px;
    padding-left: 13px;
    padding-bottom: 30px;
    column-gap: 15px;
    position: relative;
}

.Disclaimer {
    color: #9F9F9F;
}

.github-url {
    color: #C2C2C2;
    order: -1;
    font-size: small;
    position: absolute;
    bottom: 0px;
}

.account-create-btn {
    position: fixed;
    bottom: 10px;
    right: 17px;
    z-index: 100;
}

