@font-face {
    font-family: 'Onest';
    src: url(./Fonts/Onest-Regular.woff2) format('woff2');
    font-weight: 400;  
    font-style: normal; 
    font-display: swap;
}

body {
    font-family: 'Onest', Arial;
    margin: 0;
}

img {
    border-radius: 16px;
}

.price {
    border: 3px solid #59A731;
    border-radius: 15px;
}

.Category-name {
    border: 3px solid #59A731;
    border-radius: 16px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B0FF12;
    border-radius: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-wrap: wrap;
    margin-top: 110px;
}

.Games-container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 27px;
    justify-content: flex-start;
}

.boardG-container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 27px;
    justify-content: flex-start;
}

.Clothes-container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 27px;
    justify-content: flex-start;
}

.Devices-container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 27px;
    justify-content: flex-start;
}

.Plants-container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 27px;
    justify-content: flex-start;
}

.Sport-container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 27px;
    justify-content: flex-start;
}

.Books-container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 27px;
    justify-content: flex-start;
}

.Categories {
    display: flex;
    column-gap: 12px;
    flex-wrap: wrap;
}

.Copyright {
    display: flex;
    background-color: #EBEFF5;
    border-radius: 16px;
    padding-top: 14px;
    padding-left: 13px;
    padding-bottom: 30px;
    column-gap: 15px;
    position: relative;
}

.Disclaimer {
    color: #9F9F9F;
}

.github-url {
    color: #C2C2C2;
    order: -1;
    font-size: small;
    position: absolute;
    bottom: 0px;
}

.Navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 2px solid #C2C2C2;
    width: 100vw;
    position: fixed;
    top: 0px;
}

.logo {
    width: 80px;
}

.search {
    width: 550px;
    height: 50px;
    border-radius: 5px;
    border: #B0FF12 solid;
    margin-inline: 10px;
}

.feedback {
    margin-inline: 5px;
}

.item {
    width: 250px;
}

.item-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}