@font-face {
    font-family: 'Onest';
    src: url(/Fonts/Onest-Regular.woff2) format('woff2');
    font-weight: 400;  
    font-style: normal; 
    font-display: swap;
}

body {
    font-family: 'Onest', Arial;
}

img {
    border-radius: 16px;
}

.price {
    border: 3px solid #59A731;
    border-radius: 15px;
}

.Category-name {
    border: 3px solid #59A731;
    border-radius: 16px;
}

.title {
    background-color: #B0FF12;
    border-radius: 16px;
}

.Games-container {
    margin: 30px;
    display: inline-flex;
    justify-content: space-evenly;
}

.boardG-container {
    margin: 30px;
    display: inline-flex;
    justify-content: space-evenly;
}

.Categories {
    display: inline-flex;
}
