@font-face {
    font-family: 'Onest';
    src: url(/Fonts/Onest-Regular.woff2) format('woff2');
    font-weight: 400;  
    font-style: normal; 
    font-display: swap;
}

body {
    font-family: 'Onest', Arial;
}

img {
    border-radius: 16px;
}

.price {
    color: rgb(22, 188, 86);
    border: 3px solid rgb(22, 188, 86);
    border-radius: 16px;
}

.Games-container {
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
}

.Categories {
    display: flex;
}